<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<script src="/javascript/script.js"></script>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="login-form">
    <h2>Welcome..!</h2>
    <input type="text" id="username" placeholder="Email"><br>
    <input type="password" id="password" placeholder="Password"><br>
    <button id="login" onclick="login()">Login</button>
    <p id="error-message" style="color: red;"></p>
    <div class="registration">Don't have an account? <a href="./registration.html">Register here</a></div>
  </div>
  

<script src="/javascript/login.js"></script>
</body>
</html>
